.task-input-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  max-width: 600px;
}

.task-input-bar input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.add-task-main-btn {
  background: #7c3aed;
  color: white;
  padding: 0 25px;
  border-radius: 8px;
  font-weight: bold;
}

.pro-btn {
  background: linear-gradient(90deg, #ff8a00, #ff2079);
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  border: none;
}